[submodule "File_Operations.git"]
	path = File_Operations
	url = git@github.com:Phy3hogga/File_Operations.git
[submodule "Parpool.git"]
	path = Parpool
	url = git@github.com:Phy3hogga/Parpool.git
[submodule "WinRAR.git"]
	path = WinRAR
	url = git@github.com:Phy3hogga/WinRAR.git
[submodule "Input_Validation.git"]
	path = Input_Validation
	url = git@github.com:Phy3hogga/Input_Validation.git
