[submodule "Winrar.git"]
	path = WinRAR
	url = git@github.com:Phy3hogga/Winrar.git
[submodule "File_Operations.git"]
	path = File_Operations
	url = git@github.com:Phy3hogga/File_Operations.git
[submodule "Parpool.git"]
	path = Parpool
	url = git@github.com:Phy3hogga/Parpool.git
[submodule "Data_Operations.git"]
	path = Data_Operations
	url = git@github.com:Phy3hogga/Data_Operations.git
